<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'videos:list'%}">Youtube clone</a>
    {% if user.is_authenticated %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "profiles:logout" %}">Logout</a>
            </li>
            <li>
                <span class="nav-link">Hello {{user.username}}</span>
            </li>
        </ul>
    {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url "profiles:login" %}">Login</a>
            </li>
            <li>
                <a class="nav-link" href="{% url "profiles:signup" %}">Signup</a>
            </li>
        </ul>
    {% endif %}
    
</nav>