{% extends "base.html" %}

{% block container %}

    <div class="row mt-5">
        <div class="col-sm-8 offset-sm-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{object.youtube_id}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
        </div>

        <div class="col-sm-8 offset-sm-2 mt-3">
            <h3>{{video.title}}</h3>
            <span>
                <small>By</small>
                {{video.author}}
            </span>
            <span>{{video.views}} views
            </span>
        </div>

        <div class="col-sm-8 offset-sm-2 mt-3">
            <a class="like">
                <span>{{likes.likes_count}}</span>
                <i class="far fa-thumbs-up"></i>
            </a>
            <a class="dislike">
                <span>{{likes.dislikes_count}}</span>
                <i class="far fa-thumbs-down"></i>
            </a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-8 offset-sm-2">
            <form action="{% url 'videos:comment_video' object.youtube_id %}" method="POST" id="comment_video">
                {% csrf_token %}
                <textarea 
                    name="comment" 
                    id="comment" 
                    cols="2" 
                    rows="2" 
                    class="form-control w-100" 
                    required
                    placeholder="Write your comment here..."
                    style="color:black;"
                ></textarea>
                <button class="btn btn-primary mb-2 mt-2" type="submit" {% if not user.is_authenticated  %} disabled {% endif %}>Comment</button>
            </form>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-sm-8 offset-sm-2">
            <h3>Comments: </h3>
            {% for comment in comments %}
                <div class="card w-100 mt-2">
                    <div class="card-body">
                        <h5 class="card-title">By: {{comment.user.username}}</h5>
                        <p class="card-text">{{comment.comment}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock container %}


{% block scripts %}

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $('.like').click(() => {
        console.log('like')
        $.post("{% url "videos:likes_video" object.youtube_id %}", {}, function(result) {
            console.log(result)
        })
    })

    $('.dislike').click(() => {
        console.log('dislike')
        $.post("{% url "videos:dislikes_video" object.youtube_id %}", {}, function(result) {
            console.log(result)
        })
    })

</script>

{% endblock scripts %}