{% extends "base.html" %}

{% block container %}

    <div class="row mt-5">
        <div class="col col-sm-8 offset-sm-2">
            <h1 class="text-center">Video List</h1>
            {% for video in videos %}
                <div class="card w-100 mt-4">
                    <div class="card-body">
                    <h5 class="card-title">{{video.title}}</h5>
                    <p class="card-text">By: {{video.author}}</p>
                    <a href="/video/{{video.slug}}/" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock container %}
